
*{
    margin:0;
    padding:0;
    font-family: "open sans", sans-serif;
}
header{
    width:100%;
    padding:15px 0;  
}
.container{
    width:90%;
    max-width:1280px;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo{
    flex: 1;
}
.logo img{
    width: 135px;
    display: block; 
}
nav{
   flex: 3;
    display: flex;
    justify-content: center;
   
}
.nav-items{
    display:flex;
    align-items:center;
    gap:35px;
    list-style:none;
    margin-top: 20px;
}
.nav-items a{
    text-decoration:none;
    color:#555;
    font-size:16px;
    font-weight:500;
    
}
.btn-box{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.reg-btn {
    background:#1D4ED8;
    color:#fff;
    border:none;
    padding:14px 28px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    
}
.reg-btn :hover{
    background:#163eb0;
}
.banner{
    position: relative;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;  
}
.banner-overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 2;
}

.banner img{
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover;
    z-index: 1;
  
}
.banner-content{
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   width: 800px;
   z-index: 3;
   
}
.banner-content h1{
   font-size:70px;
    font-weight: 600;
    line-height 1.1rem;
    margin-bottom: 22px;
    position: relative;
    top: -10px;
  
    color: #FFFFFF;
}
.banner-content p{
     width: 650px;
    margin: 0 auto;
    margin-left:45px;
    margin-top: -5px;
    font-weight: 100%;
    color: #c5c6c7;
    font-size: 22px;
    line-height: 1.6rem;
    margin-bottom: 40px;
    position: relative;
    top: -10px;
    
}
.banner-content .reg-btn{
   margin-top: 220px;
    padding: 18px 40px; 
}
.speakers-parent{
    text-align: center;
    width: 90%;
    margin: 100px auto;
    max-width: 1200px;
   
}
.speakers-parent h2{
    text-align: center;
    font-size: 42px;
     color:#0D1B2A;
    font-weight: 700;
    margin-bottom: 60px;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.met-the-speakers{
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    border: 1px solid #E5E7EB;
    object-fit: cover;
}
.track{
    display: inline-block;
    padding:6px 14px;
    color: #2563EB;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 10px;
}
.met-the-speakers h3{
    margin: 0 20px;
    font-size: 24px;
    color:#0D1B2A;
    margin-bottom: 10px;
  
}
.met-the-speakers p{
   
    margin: 12px 20px 25px;
    color: #575757;
    font-size: 16px;
    text-align: left;

}
.met-the-speakers img{
    width: 100;
    height: 300px;
    object-fit: cover;
    display: block;
    gap: 20px;
}
.pricing{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}
.pricing-title{
    text-align: center;
    margin-bottom: 60px;
}

.pricing-title h2{
    font-size: 60px;
    color: #0D1B2A;
    margin-bottom: 12px;

}
.pricing-title p{
    color: #888888;
    font-size: 16px;
    font-weight: 600;
}
.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.price-card{
    border: 1px solid #E5E7EB;
    border-radius: 18px;
    padding: 35px;
}
.plan{
    display: block;
    color: #888888;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
}
.price-card h3{
    font-size: 52px;
    font-weight: 700;
    color: #0D1B2A;
    margin-bottom: 8px;
}
.price-text{
        color: #888888;
        margin-bottom: 25px;
}
.price-card ul{
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}
.price-card ul li::before{
   content: "\2022";
    color: #2563EB;
    font-size: 22px;
    margin-right: 12px;
}

.price-card ul li{
    margin-bottom: 14px;
    color:#374151;
    font-size: 16px;
    font-weight: 600;
    
}
.price-card button{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #2563EB;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.btn-team{
    border: 1px solid #000 !important;
    background-color: #fff;
    color: #000;
}
.active{
    background: #0D1B2A;
    color: white;
}
.active h3{
    color: white;
}
.active .plan{
    color: #60A5FA;
}
.active .price-text{
    color: #CBD5E1;
}
.active ul li{
   color: #888888;
   font-weight: 600;
}
.active button {
    background: #2563EB;
    color: white;
    border: none;
}
.btn-standard{
  background: #FFFFFF;
  color:  #2563EB;
  
}
.price-card hr{
    border:0;
    height: 1px;
    background: #E5E7EB;
    margin: 22px 0;
}
.active hr{
    background: rgba(255, 255, 255, 0.15);
}


.venue{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}

.venue-title{
    text-align: center;
    margin-bottom: 60px;
}

.venue-title h2{
    font-size: 42px;
    color: #0D1B2A;
    font-weight: 700;
    margin-bottom: 12px;
}

.venue-title p{
    font-size: 17px;
    color: #6B7280;
}

.venue-container{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    background: #F8FBFF;
    border: 1px solid #E5E7EB;
    border-radius: 24px;
    padding: 40px;
}

.venue-image img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.venue-content h3{
    font-size: 32px;
    color: #0D1B2A;
    margin-bottom: 18px;
}

.venue-description{
    color: #6B7280;
    line-height: 1.8;
    margin-bottom: 35px;
    font-size: 16px;
}

.venue-info{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 35px;
}

.info-item{
    display: flex;
    align-items: center;
    gap: 18px;
}

.info-icon{
    width: 55px;
    height: 55px;
    background: #EAF2FF;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon i{
    color: #2563EB;
    font-size: 22px;
}

.info-text h4{
    font-size: 18px;
    color: #0D1B2A;
    margin-bottom: 4px;
}

.info-text span{
    color: #6B7280;
    font-size: 15px;
}

.venue-btn{
    width: 350px;
    padding: 18px 60px;
    background: #2563EB;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.venue-btn:hover{
    background: #1D4ED8;
}

.venue-btn i{
    margin-right: 8px;
}

.footer{
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 40px;
}

.footer-top{
    border-top: 1px solid #E5E7EB;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.footer-logo img{
    width: 50px;
   
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.footer-logo h3{
   
    font-size: 42px;
    font-weight: 700;
    color: #111827; 
}
.footer-logo span{
    color: #2563EB;
}


.social-links{
    display: flex;
    gap: 18px;
}

.social-links a{
    width: 42px;
    height: 42px;
    border: 1px solid #E5E7EB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2563EB;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
}

.social-links a:hover{
    background: #2563EB;
    color: #fff;
}


.copyright{
    text-align: center;
    color: #6B7280;
    font-size: 15px;
}


